<?xml version="1.0" encoding="UTF-8"?>

<!--关于卡片类型的说明：

1纯图片：
*************************
*                       *
*                       *
*       卡片类型1        *
*                       *
*                       *
*************************

2图片带标题：
*************************
*                       *
*                       *
*       卡片类型2        *
*                       *
*************************
   *******标题栏********


3图片带标题带内容描述：
***************
*             *    ******标题栏********
*             *
*   卡片类型3  *
*             *    ******描述栏********
***************



-->


<DataConfig>

    <!-- show:是否显示 ， true：在app中显示 ， false：在app中不显示-->
    <show>true</show>

    <!-- card:显示的卡片类型 -->
    <card>1</card>

    <!-- folder:读取的数据文件夹-->
    <folder>嘟啦古诗</folder>

    <!--image：封面图片 -->
    <image>嘟啦古诗.jpg</image>

    <!--title：标题 -->
    <title>嘟啦古诗</title>

    <!--description：简单描述 -->
    <description>熟读古诗300首，不会作诗也会吟</description>

</DataConfig>